.body__homepage {
  position: relative;

}

.planet__position {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -4%;
}

// canvas {
//   display: flex;
//   align-items: center;
// }
