.informations__body {
  background: lightcoral;
  width: 20vw;
  position: absolute;
  display: block;
  margin: auto;
  z-index: 16;
}

.informations__image {
  width: 100%;
  border-bottom: white solid 3px;
}

.informations__description {
  height: auto;
  text-align: justify;
  margin: 5%;
}
