.card {
  color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #1a3e6a;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 20px;

  &-title {
    padding: 0.3rem;
    text-align: center;  
  }
  &-wiki {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.4rem auto;
  }
  &-nbanswers {
    text-align: center;
    font-style: italic;
    font-size: 0.6rem;
  }
}

.button {
  border-radius: 25px;
  border: none;
  width: 200px;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  margin: 0.3rem auto;
}
