
.quizContainer {
  font-family: 'Quicksand', sans-serif;
  width: 30rem;
  height: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  vertical-align: center;
  position: fixed;
  z-index: 10;
}

.results {
  color: white;
  width: 80%;
  background-color: #1a3e6a;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 

}

.welcome {
  font-family: 'Kosugi Maru', 'Tahoma' sans-serif;
  color: #d5ad44;
  text-align: center;
  margin: 1rem auto;
  width: 70%;
}
.intro {
  color: #d5ad44;
  width: 70%;
  margin: 0.5rem auto;
  text-align: center;

}

.score {
  font-family: 'Kosugi Maru', 'Tahoma' sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem auto;

}

.answers {
  margin: 1rem auto;
}

.closequiz {
  color: #d5ad44;
  margin: 2rem 0rem 1rem 17rem;
  cursor: pointer;

}

.hidden {
  display: none;
}
