
  .card-answer {
    font-size: 0.9rem;
    background-color: #818288;
    padding: 0.5rem;
    border-radius: 20px;
    margin: 0.4rem auto;
    width: auto;
    display: flex;
align-items: center;
  }

  .card-input {
    width: auto;
    font-size: 0.9rem;
  }


  .true {
    background-color: #54da7a;
  }
  
  .false {
    background-color: #da5466;
  }
  